header {
    width: 100%;
    display: flex;
    background-color: black;
    justify-content: space-between;
    align-items: center;
}
  
.header-logo {
  cursor: pointer;
}

.logo-image {
  width: 60px;
  height: auto;
}

.name-image {
  width: 200px;
  height: auto;
  padding-bottom: 14px;
}
  
.header-nav {
    flex-grow: 1;
    display: flex;
    justify-content: center;
}
  
.header-nav ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.header-nav ul li {
}

.header-nav ul li a {
  display: block;
  padding: 30px;
  background-color: black;
  color: white;
  text-decoration: none;
  font-weight: bold;
  transition: all 0.3s ease;
}

.header-nav ul li a:hover {
  background-color: #fff;
  color: #333;
  padding-bottom: -50px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-image: linear-gradient(to top, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0));
}

.header-nav ul li:last-child {
    margin-right: 0;
}
  